{{#with data}}

<div class="fcard">
    <div class="fcard_photo" style="background-image: url({{photo}})"></div>
    <h2 class="fcard_heading">{{heading}}</h2>
    <p class="fcard_info">{{info}}</p>
    <a href="{{linkUrl}}" class="fcard_button">{{linkText}}</a>
</div>

{{/with}}